<div>
    <!-- ==================== Start Slider ==================== -->

    <header class="pages-header bg-img valign parallaxie contact-bg" data-overlay-dark="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cont text-center">
                        <h1>Contact Us</h1>
                        <div class="path">
                            <a [routerLink]="['/pages/home']">Home</a><span>/</span><a [routerLink]="['/pages/contact']" class="active">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ==================== End Slider ==================== -->

    <!-- ==================== Start Quote ==================== -->
    <div class="get-in-touch-background sub-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="text-center pb-5 pt-5" data-aos="fade-down" data-aos-duration="2000">
                        <div class="get-in-touch-head">
                            <h2 class="wow custom-font"> GET A HOLD OF US</h2>
                        </div>

                        <div class=" get-in-touch-content">
                            <p class="wow txt about-text text-center">
                                Feel free to reach out to us with any questions. We are always open to discussing new projets, intersting ideas or opportunities to be part of an event.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== End Quote ==================== -->

    <!-- ==================== Start main-content ==================== -->

    <div class="main-content">

        <!-- ==================== Start Contact ==================== -->

        <section class="contact section-padding pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-aos="fade-right" data-aos-duration="2000">
                        <div class="form md-mb50">

                            <h4 class="extra-title mb-50">Get In Touch.</h4>

                            <form [formGroup]="contactForm">
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <input id="form_name" type="text" name="Name" placeholder="Name" formControlName="Name" required="required">
                                                <div class="text-danger" *ngIf="contactForm.get('Name').invalid&&(formSubmitted)">
                                                    Name is require.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <input id="form_email" type="Email" name="Email" placeholder="Email" formControlName="Email" required="required">
                                                <div class="text-danger" *ngIf="contactForm.get('Email').invalid&&(formSubmitted)">
                                                    Email is require.
                                                </div>
                                                <div class="text-danger" *ngIf="contactForm.get('Email').error?.pattern">
                                                    Enter Valid Email.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <input id="form_contactNo" type="tel" name="ContactNo" formControlName="ContactNo" placeholder="Contact No" required="required">
                                                <div class="text-danger" *ngIf="contactForm.get('ContactNo').invalid&&(formSubmitted)">
                                                    Contact No is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <textarea id="form_message" name="Message" placeholder="Message" rows="4" formControlName="Message" required="required"></textarea>
                                        <div class="text-danger" *ngIf="contactForm.get('Message').invalid && (formSubmitted)">
                                            Message is required.
                                        </div>
                                    </div>

                                    <button type="submit" class="btn-curve btn-color" (click)="addContact()"><span>Submit</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-left" data-aos-duration="2000">
                        <div class="cont-info">
                            <h4 class="extra-title mb-50">Contact Info.</h4>
                            <h3 class="custom-font wow" data-splitting>Let's Talk.
                            </h3>
                            <div class="item mb-40">
                                <h5 class="link-text dis-flex-start"><i class="fa fa-envelope color-i"></i><a href="mailto:hrgloryautotech@gmail.com">hrgloryautotech@gmail.com</a></h5>
                                <h5 class="link-text dis-flex-start">
                                    <div class="phone-get-in">
                                        <i class="fa fa-phone color-i"></i>
                                    </div>
                                    <div class="get-in-num">
                                        <a href="tel:(+91) 8000078216">(+91)
                                            8000078216
                                        </a>
                                        <div class="link-text">
                                            <a href="tel:(+91) 8141422244">(+91) 8141422244</a>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <h3 class="custom-font wow" data-splitting>Visit Us.
                            </h3>
                            <div class="item">
                                <h6>309 - 310 , SNS Arista ,
                                    <br>behind Prime Shoppers, Vesu.
                                </h6>
                            </div>
                            <div class="social pt-4">
                                <a href="#0" class="icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#0" class="icon">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#0" class="icon">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                                <a href="#0" class="icon">
                                    <i class="fab fa-behance"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End Contact ==================== -->
    </div>
    <!-- ==================== End main-content ==================== -->
</div>