need
<div id="preloadernt">
    <p class="lo-txt">Great Developers Are Teamocentric.</p>
</div>
<div>
    <!-- ==================== Start Slider ==================== -->

    <header class="pages-header bg-img valign parallaxie needteam-bg" data-overlay-dark="6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cont text-center">
                        <h1>Need Team?</h1>
                        <div class="path">
                            <a [routerLink]="['/home']">Home</a><span>/</span><a class="active">NeedTeam</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ==================== End Slider ==================== -->
    <div class="main-content">
        <!-- ==================== Start Contact ==================== -->
        <ngx-loading [show]="loading"></ngx-loading>
        <section class="contact section-padding detail-career pt-5">
            <div class="container team-container">
                <form [formGroup]="needTeamForm">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="form md-mb50">
                                <div class="need-team-header">
                                    <div class="row m-0">
                                        <div class="col-lg-9 col-6 col-sm-6 dis-flex-start">
                                            <div class="form-messages text-center teamform">Need A Team</div>
                                        </div>
                                        <div class="col-lg-3 col-6 col-sm-6 dis-flex-end">
                                            <div class="form-group m-0">
                                                <div class="col-md-offset-2 col-md-4 col-12">
                                                    <button type="button" class="btn btn-primary btn-need-team" (click)="onAddStep()">
                                                        Add Developer
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="controls career-form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label><b>Email:</b></label>
                                                <input class="sizeUp" type="email" name="email" placeholder="eg: abc@gmail.com" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="Email" required="required" (input)="checkEmail($event)">
                                            </div>
                                            <div class="text-danger" *ngIf="checkFlag">
                                                Valid Email is Require.
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label><b>Contact No:</b></label>
                                                <input class="sizeUp" type="tel" name="number" pattern="" placeholder="eg: 8000078216" pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$" formControlName="ContactNo" required="required" (input)="checkNumber($event)">
                                            </div>
                                            <div class="text-danger" *ngIf="checkFlag">
                                                Valid 10 digit Contact No is Require.
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label><b>Start Date:</b></label>
                                                <input class="sizeUp" type="date" name="startDate" formControlName="StartDate" class="date-padding" [min]="today" placeholder="mm/dd/yyyy">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label><b>Budget(INR ₹):</b></label>
                                                <input class="sizeUp" type="number" name="budget" placeholder="Budget" formControlName="Budget" min="0">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group ">
                                                <label><b>Attachment:</b></label>
                                                <input class="sizeUp file-name-formatting" type="file" name="uploadresume" multiple="true" class="up-res" placeholder="Attachment" (change)="handleFileInput($event)">
                                            </div>
                                            <div class="text-danger" *ngIf="fileSizeFlag">
                                                File should be less than 50MB
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label><b>Projet Description</b></label>
                                                <textarea name="projectDescription" placeholder="Project Description" rows="4" formControlName="ProjectDescription"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-detail-team">
                        <div class="row">
                            <div class="col-lg-4 col-12" *ngFor="let list of developerDataList">
                                <!--Add Developer card button-->
                                <div class="card-detail-teammem mt-5-5 sub-bg">
                                    <div class="row">
                                        <div class="col-md-10 col-lg-9 col-9">
                                            <div class="main-content-team">
                                                <div class="card-main-label">
                                                    <label>Developer:</label>
                                                    <span>{{list.developerName}}</span>
                                                </div>
                                                <div class="card-main-label">
                                                    <label>Hr/day:</label>
                                                    <span>{{list.hrDay}}</span>
                                                </div>
                                                <div class="card-main-label">
                                                    <label>Duration:</label>
                                                    <span>{{list.duration}}</span>
                                                </div>
                                                <div class="card-main-label">
                                                    <label>Experience:</label>
                                                    <span>{{list.experience}}</span>
                                                </div>
                                                <div class="card-main-label">
                                                    <label>No of Developer:</label>
                                                    <span>{{list.noOfDeveloper}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-lg-3 col-3">
                                            <div class="btn-icon-card-edit-delete">
                                                <div class="btn-2-action">
                                                    <button type="button" class="btn btn-primary btn-team-icon btn-edit" (click)="onEditStep(list)">
                                                        <nb-icon icon="edit-2-outline"></nb-icon>
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-team-icon btn-delete" (click)="onDeleteStep(list)">
                                                        <nb-icon icon="trash-outline"></nb-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center btn-mobile pb-5 pt-4">
                                <button type="button" class="btn-curve btn-color" (click)="addNeedTeam()"><span>Submit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- ==================== End Contact ==================== -->
    </div>
</div>