<div>
    <!-- ==================== Start Slider ==================== -->

    <header class="pages-header bg-img valign parallaxie" data-background="img/slid/1.jpg" data-overlay-dark="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cont text-center">
                        <h1>Need Team?</h1>
                        <div class="path">
                            <a routerLink='home'>Home</a><span>/</span><a routerLink='needTeam'
                                class="active">NeedTeam</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ==================== End Slider ==================== -->
    <div class="main-content">

        <!-- ==================== Start Contact ==================== -->

        <section class="contact section-padding detail-career">
            <div class="container">
                <form [formGroup]="needTeamForm">
                    <div class="row">
                        <div class="col-lg-6 col-12">

                            <div class="form md-mb50">


                                <div class="form-messages text-center mb-4 pb-3">Application</div>

                                <div class="controls career-form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="email" name="email" placeholder="Email Address"
                                                    formControlName="Email" required="required">
                                            </div>
                                            <div class="text-danger"
                                                *ngIf="needTeamForm.get('Email').invalid&&(formSubmitted||needTeamForm.get('Email').touched)">
                                                Email is Require.
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="tel" name="number" placeholder="Phone Number"
                                                    formControlName="ContactNo" required="required">
                                            </div>
                                            <div class="text-danger"
                                                *ngIf="needTeamForm.get('ContactNo').invalid&&(formSubmitted||needTeamForm.get('ContactNo').touched)">
                                                Contact No is Require.
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="date" name="startDate" placeholder="Start Date"
                                                    formControlName="StartDate" required="required">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="number" name="budget" placeholder="Budget"
                                                    formControlName="Budget" required="required">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="file" name="uploadresume" class="up-res"
                                                    placeholder="Upload Resume" (change)="handleFileInput($event)"
                                                    required="required">
                                            </div>
                                        </div>


                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea name="projectDescription" placeholder="Project Description"
                                                    rows="4" formControlName="ProjectDescription"
                                                    required="required"></textarea>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-6 col-12">
                            <!--Add Developer card button-->
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-4 col-12">
                                    <button type="button" class="btn btn-primary" (click)="onAddStep()">
                                        Add Developer
                                    </button>
                                </div>
                            </div>
                            <div>
                                <div *ngFor="let list of developerDataList">
                                    <div class="form-group">
                                        <!-- <div class="col-md-offset-2 col-md-4 col-12">
                                            <button type="button" class="btn btn-primary" (click)="onDeleteStep(list)">
                                                delete
                                            </button>
                                        </div> -->
                                        <!-- <nb-icon icon="trash" status="danger" (click)="onDeleteStep(list)"
                                            class="trash"></nb-icon> -->
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-4 col-12">
                                            <button type="button" class="btn btn-primary" (click)="onEditStep(list)">
                                                edit
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <label>Developer:</label>
                                        <span>{{list.developerName}}</span>
                                    </div>
                                    <div>
                                        <label>Hr/day:</label>
                                        <span>{{list.hrDay}}</span>
                                    </div>
                                    <div>
                                        <label>Duration:</label>
                                        <span>{{list.duration}}</span>
                                    </div>
                                    <div>
                                        <label>Experience:</label>
                                        <span>{{list.experience}}</span>
                                    </div>
                                    <div>
                                        <label>No of Developer:</label>
                                        <span>{{list.noOfDeveloper}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group text-right">
                                <nb-icon icon="plus-circle" status="primary" (click)="onAddStep()"
                                    class="plus-add add-modal"></nb-icon>
                            </div> -->


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center btn-mobile pb-5 pt-4">
                                <button type="button" class="btn-curve btn-color"
                                    (click)="addNeedTeam()"><span>Submit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- ==================== End Contact ==================== -->
    </div>
</div>