<!-- ==================== Start Slider ==================== -->

<header class="pages-header bg-img valign parallaxie contact-bg" d data-overlay-dark="6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cont text-center">
                    <h1>Portfolio</h1>
                    <div class="path">
                        <a routerLink="home">Home</a><span>/</span><a routerLink="work" class="active">Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ==================== End Slider ==================== -->
<!-- <div class="owl-carousel owl-theme">
    <div class="item">
        <h4>1</h4>
    </div>
    <div class="item">
        <h4>2</h4>
    </div>
    <div class="item">
        <h4>3</h4>
    </div>
    <div class="item">
        <h4>4</h4>
    </div>
    <div class="item">
        <h4>5</h4>
    </div>
    <div class="item">
        <h4>6</h4>
    </div>
    <div class="item">
        <h4>7</h4>
    </div>
    <div class="item">
        <h4>8</h4>
    </div>
    <div class="item">
        <h4>9</h4>
    </div>
    <div class="item">
        <h4>10</h4>
    </div>
    <div class="item">
        <h4>11</h4>
    </div>
    <div class="item">
        <h4>12</h4>
    </div>
</div>
<div class="btns">
    <div class="customNextBtn">Next slide</div>
    <div class="customPreviousBtn">Previous slide</div>
</div> -->

<div class="work-portfolio-main pt-5 pb-5">
    <div class="container">
        <div class="work-title-main">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="work-sub-title">
                        <div class="intro md-mb30">
                            <div class="sub-title">
                                <h6>Know Us Better</h6>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <h2 class="extra-title wow" data-splitting>Preparing Your Digital Dreams, Taking Your Business Ahead
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-12">
                    <div class="work-desc">
                        <p class="portfolio-align">When business, people and technology collide true innovation happen. We help you build a team that can deliver your business needs. We don’t just complete task but care about the end result and the future of our client’s project.
                            We integrate continuous skill development into our workflow to stay up on the latest technology, industry trends.We will help you to build right product for your business and startUps with agile methodology.We create custom
                            software to help businesses thrive in the digital age. We will lead your business from good to great.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="work-slide pb-5">
    <div class="container">

        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let port of projectDataList" class="slide container-port" [routerLink]="['/pages/portfolio/portfolioInfo',port.Projectid]">
                <img class="imgHover" src="{{'data:image/jpg;base64,' + port.Projectimage}}" alt="">
                <span class="hideImgHover">
                    <h3>{{port.ProjectName}}</h3>
                </span>
            </div>
        </ngx-slick-carousel>

    </div>
</div>


<!--End of Portfolio Data-->
<!-- <carousel>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/freelancer.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/1.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/freelancer.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/1.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/freelancer.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/1.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/freelancer.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/1.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/freelancer.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/1.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/freelancer.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/1.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/img/slid/freelancer.jpg">
    </div>
</carousel> -->

<!-- <div>
    <div class="row">
        <div class="col-sm-12 btn btn-primary">
            Image Slider
        </div>
    </div>
</div>
<hr style="background-color:black" />
<div class="row">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let image of images" class="slide">
            <img src="{{ image.img }}" width="100%">
        </div>
    </ngx-slick-carousel>
</div> -->