<div id="preloaderpo">
    <p class="lo-txt">The Function Of Design Is Letting Design Function.</p>
</div>

<!-- ==================== Start Slider ==================== -->

<header class="pages-header bg-img valign parallaxie work-bg" d data-overlay-dark="6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cont text-center">
                    <h1>Portfolio</h1>
                    <div class="path">
                        <a routerLink="/home" [skipLocationChange]="true">Home</a><span>/</span><a class="active">Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ==================== End Slider ==================== -->
<div class="work-portfolio-main pt-5 pb-5 mob-pb-0">
    <div class="container">
        <div class="work-title-main">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="work-sub-title">
                        <div class="intro md-mb30">
                            <div class="sub-title">
                                <h6>Know Us Better</h6>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <h2 class="extra-title wow" data-splitting>We Can Fabricate Your Dreams Alive.
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-12">
                    <div class="work-desc">
                        <p class="portfolio-align">When business, people and technology collide true innovation happen. We help you build a team that can deliver your business needs. We don’t just complete task but care about the end result and the future of our client’s project.
                            We integrate continuous skill development into our workflow to stay up on the latest technology, industry trends.We will help you to build right product for your business and startUps with agile methodology.We create custom
                            software to help businesses thrive in the digital age. We will lead your business from good to great.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="work-slide pb-5">
    <div class="container">

        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let port of projectDataList" class="slide container-port" [routerLink]="['/portfolio/portfolioInfo',port.Projectid]">
                <img class="imgHover" src="{{'data:image/jpg;base64,' + port.Projectimage}}" alt="">
                <span class="hideImgHover">
                    <h3>{{port.ProjectName}}</h3>
                </span>
            </div>
        </ngx-slick-carousel>

    </div>
</div> -->


<div class="career-main-info pt-30 pb-50">
    <div class="container">
        <!-- <div class="mb-4">
            <div class="our-activites text-center">
                <h2 class="wow custom-font about-what-we-do" data-splitting>Our Line <b>Of Work</b></h2>
            </div>

        </div> -->

        <div class="text call-action pb-4">
            <div class="about-title content text-center">
                <h2 class="wow custom-font about-what-we-do port-main-txt" data-splitting>Our Line<b> Of Work</b></h2>
            </div>
        </div>
        <div class="row">

            <!--Image Slider-->
            <div class="col-md-4 col-12" *ngFor="let port of projectDataList">
                <div [routerLink]="['/portfolio/portfolioInfo',port.Projectid]">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img class="imgHover" src="{{'data:image/jpg;base64,' + port.Projectimage}}" alt="">
                            </div>
                            <div class="flip-box-back">
                                <h2>{{port.ProjectName}}</h2>
                                <p>{{port.ProjectDescription}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>