<div>

    <!-- ==================== Start Slider ==================== -->

    <header class="pages-header bg-img valign parallaxie" data-background="assets/img/slid/1.jpg" data-overlay-dark="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cont text-center">
                        <h1>Career</h1>
                        <div class="path">
                            <a routerLink="home">Home</a><span>/</span><a routerLink="career" class="active">Career</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ==================== End Slider ==================== -->
    <!-- (click)="redirectInfo(t.Vacancyid)" -->
    <div class="card-container pb-5 wow fadeIn" data-wow-delay=".25s">
        <div *ngFor="let t of vacancyTitle" class="text-center pt-5">
            <a class="card1" [routerLink]="['/pages/career/careerInfo',t.Vacancyid]">
                <h3>{{t.VacancyName}}</h3>
                <p class="small">Card description with lots of great facts and interesting details.</p>
                <div class="go-corner">
                    <div class="go-arrow">
                        →
                    </div>
                </div>
            </a>

        </div>
    </div>





</div>