<div>
    <div id="preloaderjt">
    </div>
    <!-- ==================== Start Slider ==================== -->

    <header class="pages-header bg-img valign parallaxie team-bg" data-overlay-dark="6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cont text-center">
                        <h1>Career</h1>
                        <div class="path">
                            <a [routerLink]="['/pages/home']" [skipLocationChange]="true">Home</a><span>/</span><a
                                class="active">Career</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ==================== End Slider ==================== -->
    <!-- (click)="redirectInfo(t.Vacancyid)" -->
    <div class="container pb-5 wow fadeIn pt-4" data-wow-delay=".25s">
        <div class="row">
            <div *ngFor="let t of vacancyTitle" class="col-lg-3 col-md-4 col-12 text-center pt-3">
                <a class="card1" [routerLink]="['/pages/career/careerInfo',t.Vacancyid]" [skipLocationChange]="true">
                    <h3>{{t.VacancyName}}</h3>
                    <p class="small">{{t.VacancyDesc}}</p>
                    <div class="go-corner">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>





</div>