<!-- ==================== Start Navbar ==================== -->

<nav class="navbar change navbar-expand-lg">
    <div class="container">

        <!-- Logo -->
        <a class="logo" href="index.html">
            <img src="img/logo-light.png" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="blog-details.html">Web Design</a>
                        <a class="dropdown-item" href="blog-details.html">Web Development</a>
                        <a class="dropdown-item" href="blog-details.html">Ecommerce</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="works.html">Portfolio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="career.html">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
            <!--<div class="search">
                <span class="icon pe-7s-search cursor-pointer"></span>
                <div class="search-form text-center custom-font">
                    <form>
                        <input type="text" name="search" placeholder="Search">
                    </form>
                    <span class="close pe-7s-close cursor-pointer"></span>
                </div>
            </div>-->
        </div>
    </div>
</nav>

<!-- ==================== End Navbar ==================== -->



<!-- ==================== Start Slider ==================== -->

<header class="pages-header bg-img valign parallaxie" data-background="assets/img/slid/1.jpg" data-overlay-dark="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cont text-center">
                    <h1>About Us</h1>
                    <div class="path">
                        <a routerLink="home">Home</a><span>/</span><a routerLink="about" class="active">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ==================== End Slider ==================== -->



<!-- ==================== Start Intro ==================== -->

<section class="intro-section section-padding sub-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 dis-flex">
                <div class="htit sm-mb30">
                    <img src="../../../assets/about-icon/about-us.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-7 col-12 offset-lg-1 col-md-8 dis-flex">
                <div class="text">
                    <p class="wow txt about-text">When business, people and technology collide true innovation happen. We help you build a team that can deliver your business needs. We don’t just complete task but care about the end result and the future of our client’s project. We
                        integrate continuous skill development into our workflow to stay up on the latest technology, industry trends.We will help you to build right product for your business and startUps with agile methodology.We create custom software
                        to help businesses thrive in the digital age. We will lead your business from good to great.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End Intro ==================== -->



<!-- ==================== Start Services ==================== -->

<section class="services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-title-main text-center mb-5">

                    <h4 class="wow custom-font " data-splitting>Our Services</h4>
                </div>
            </div>
        </div>
        <div class=" row ">
            <div class="col-lg-3 col-12 b mb-5">
                <button class="item md-mb50 btn-6 wow fadeInUp " data-wow-delay=".3s ">
                    <span>
                        <a href="# " class="img-link-text ">
                            <div class="img-about-services ">
                                <img src="../../../assets/about-icon/design.png "
                                    alt=" " class="img-responsive ">
                            </div>
                            <div class="services-about-title ">
                                <h6>Web Design & Development</h6>
                            </div>
                        </a>
                    </span>
                </button>
                <!-- <button type="submit " class="btn-curve btn-color "><span>Read More</span></button> -->
            </div>
            <div class="col-lg-3 col-12 b mb-5">

                <button class="item md-mb50 btn-6 wow fadeInUp " data-wow-delay=".3s ">
                    <span>
                        <a href="# " class="img-link-text ">
                            <div class="img-about-services ">
                                <img src="../../../assets/about-icon/android-logo.png "
                                    alt=" " class="img-responsive ">
                            </div>
                            <div class="services-about-title ">
                                <h6>Mobile Development</h6>
                            </div>
                        </a>
                    </span>
                </button>
            </div>
            <div class="col-lg-3 col-12 b mb-5">
                <button class="item md-mb50 btn-6 wow fadeInUp " data-wow-delay=".3s ">
                    <span>
                        <a href="# " class="img-link-text ">
                            <div class="img-about-services ">
                                <img src="../../../assets/about-icon/ui-ux.png "
                                    alt=" " class="img-responsive ">
                            </div>
                            <div class="services-about-title ">
                                <h6>UI / UX Designing</h6>
                            </div>
                        </a>
                    </span>
                </button>
            </div>
            <div class="col-lg-3 col-12 b mb-5">
                <button class="item md-mb50 btn-6 wow fadeInUp " data-wow-delay=".3s ">
                    <span>
                        <a href="# " class="img-link-text ">
                            <div class="img-about-services ">
                                <img src="../../../assets/about-icon/test.png "
                                    alt=" " class="img-responsive ">
                            </div>
                            <div class="services-about-title ">
                                <h6>Testing & Q/A</h6>
                            </div>
                        </a>
                    </span>
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="services-about-btn text-center pb-4">
                    <button type=" submit " class="btn-curve btn-color "><span>View More</span></button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End Services ==================== -->

<!-- ==================== Start Minimal-Area ==================== -->

<section class="min-area sub-bg ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-6 ">
                <div class="img ">
                    <img class="thumparallax-down " src="assets/img/min-area.jpg " alt=" ">
                </div>
            </div>
            <div class="col-lg-6 valign ">
                <div class="content ">
                    <h4 class="wow custom-font " data-splitting>Our Values</h4>

                    <ul class="feat ">
                        <li class="wow fadeInUp " data-wow-delay=".2s ">
                            <h6><span>1</span> Our Mission</h6>
                            <p>luctus massa ipsum at tempus eleifend congue lectus bibendum</p>
                        </li>
                        <li class="wow fadeInUp " data-wow-delay=".4s ">
                            <h6><span>2</span> Our Goals</h6>
                            <p>luctus massa ipsum at tempus eleifend congue lectus bibendum</p>
                        </li>
                        <li class="wow fadeInUp " data-wow-delay=".6s ">
                            <h6><span>3</span> Why Us? </h6>
                            <p>luctus massa ipsum at tempus eleifend congue lectus bibendum</p>
                        </li>
                        <li class="wow fadeInUp " data-wow-delay=".6s ">
                            <h6><span>4</span> Why Us? </h6>
                            <p>luctus massa ipsum at tempus eleifend congue lectus bibendum</p>
                        </li>
                        <li class="wow fadeInUp " data-wow-delay=".6s ">
                            <h6><span>5</span> Why Us? </h6>
                            <p>luctus massa ipsum at tempus eleifend congue lectus bibendum</p>
                        </li>
                        <li class="wow fadeInUp " data-wow-delay=".6s ">
                            <h6><span>6</span> Why Us? </h6>
                            <p>luctus massa ipsum at tempus eleifend congue lectus bibendum</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End Minimal-Area ==================== -->


<!-- ==================== Start Footer ==================== -->

<footer class="footer-half sub-bg section-padding pb-0 ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-5 col-md-6 ">
                <div class="cont ">
                    <div class="logo ">
                        <a routerLink="home ">
                            <img src="assets/img/2LOGO.png " class="logo-img-width " alt=" ">
                        </a>
                    </div>
                    <div class="con-info custom-font ">
                        <ul>
                            <li><span>Email : </span><a href="mailto:hrgloryautotech@gmail.com ">hrgloryautotech@gmail.com</a>
                            </li>
                            <li>
                                <div class="display-block-task "><span>Address: </span> 309 - 310 , SNS Arista , behind Prime Shoppers, Vesu.
                                </div>
                            </li>
                            <li>
                                <div class="display-block-task "><span>Phone : </span>
                                    <div class="number-footer "><a href="tel:(+91) 8000078216 ">(+91)
                                            8000078216</a>
                                        <a href="tel:(+91) 8141422244 ">(+91) 8141422244</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="social-icon ">
                        <h6 class="custom-font stit simple-btn ">Follow Us</h6>
                        <div class="social ">
                            <a href="#0 " class="icon ">
                                <i class="fab fa-facebook-f "></i>
                            </a>
                            <a href="#0 " class="icon ">
                                <i class="fab fa-twitter "></i>
                            </a>
                            <a href="#0 " class="icon ">
                                <i class="fab fa-pinterest "></i>
                            </a>
                            <a href="#0 " class="icon ">
                                <i class="fab fa-behance "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2 col-md-6 ">
                <div class="subscribe mb-50 ">
                    <h6 class="custom-font stit simple-btn ">Quick Link</h6>
                    <li><a routerLink="home ">Home</a></li>
                    <li><a routerLink="about ">About Us</a></li>
                    <li><a routerLink="work ">Portfolio</a></li>
                    <li><a routerLink="career ">Career</a></li>
                    <li><a routerLink="contact ">Contact</a></li>
                </div>
                <div class="subscribe mb-50 ">
                    <h6 class="custom-font stit simple-btn ">Services</h6>
                    <li><a routerLink="servicees ">Web Design</a></li>
                    <li><a routerLink="servicees ">Web Development</a></li>
                    <li><a routerLink="servicees ">Ecommerce</a></li>
                </div>

            </div>

        </div>
        <div class="copyrights text-center ">
            <p>Copyright © 2020, GloryAutotech. Design by <a routerLink="home ">GloryAutotech</a>.</p>
        </div>
    </div>
</footer>

<!-- ==================== End Footer ==================== -->