<!-- ==================== Start Navbar ==================== -->

<!-- <nav class="navbar change navbar-expand-lg">
    <div class="container">

         Logo -->
<!-- <a class="logo" href="index.html">
            <img src="../../../assets/img/2LOGO.png" alt="logo" class="logo-img-width">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button> -->

<!-- navbar links -->
<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="blog-details.html">Web Design</a>
                        <a class="dropdown-item" href="blog-details.html">Web Development</a>
                        <a class="dropdown-item" href="blog-details.html">Ecommerce</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="works.html">Portfolio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="career.html">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
            <div class="search">
                <span class="icon pe-7s-search cursor-pointer"></span>
                <div class="search-form text-center custom-font">
                    <form>
                        <input type="text" name="search" placeholder="Search">
                    </form>
                    <span class="close pe-7s-close cursor-pointer"></span>
                </div>
            </div>
        </div>
    </div>
</nav> -->
<!-- ==================== End Navbar ==================== -->

<div id="preloaderabout">
</div>

<!-- ==================== Start Slider ==================== -->

<header class="pages-header bg-img valign parallaxie" data-background="../../../assets/img/slid/1.jpg"
    data-overlay-dark="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cont text-center">
                    <h1>About Us</h1>
                    <div class="path">
                        <a [routerLink]="['/pages/home']">Home</a><span>/</span><a [routerLink]="['/pages/about']"
                            class="active">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ==================== End Slider ==================== -->



<!-- ==================== Start Intro ==================== -->

<section class="intro-section section-padding sub-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 dis-flex wow fadeInLeft" data-wow-delay=".25s">
                <div class="htit sm-mb30">
                    <img src="../../../assets/about-icon/about-us.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-7 col-12 offset-lg-1 col-md-8 dis-flex wow fadeInRight " data-wow-delay=".25s">

                <div class="text call-action">
                    <div class="about-title content">
                        <h2 class="wow custom-font about-what-we-do" data-splitting>What <b>We Do</b></h2>
                    </div>
                    <p class="wow txt about-text">When business, people and technology collide true innovation happen.
                        We help you build a team that can deliver your business needs. We don’t just complete task but
                        care about the end result and the future of our client’s project. We
                        integrate continuous skill development into our workflow to stay up on the latest technology,
                        industry trends.We will help you to build right product for your business and startUps with
                        agile methodology.We create custom software
                        to help businesses thrive in the digital age. We will lead your business from good to great.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End Intro ==================== -->



<!-- ==================== Start Services ==================== -->

<section class="services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-title-main text-center pb-4 wow fadeInDown" data-wow-delay=".25s ">

                    <h4 class="wow custom-font " data-splitting>Our Services</h4>
                </div>
            </div>
        </div>
        <div class=" row ">
            <div class="col-lg-3 col-md-6 col-12 b mb-5 wow fadeIn pb-4" data-wow-delay=".25s ">
                <button class="item md-mb50 btn-6 wow fadeInUp " data-wow-delay=".25s ">
                    <span>
                        <a class="img-link-text ">
                            <div class="img-about-services ">
                                <img src="../../../assets/about-icon/data.png" alt=" " class="img-responsive ">
                            </div>
                            <div class="services-about-title ">
                                <h6>Web Design & Development</h6>
                            </div>
                        </a>
                    </span>
                </button>
                <!-- <button type="submit " class="btn-curve btn-color "><span>Read More</span></button> -->
            </div>
            <div class="col-lg-3 col-md-6 col-12 b mb-5 wow fadeIn pb-4" data-wow-delay=".25s ">

                <button class="item md-mb50 btn-6 wow fadeInUp " data-wow-delay=".3s ">
                    <span>
                        <a class="img-link-text ">
                            <div class="img-about-services ">
                                <img src="../../../assets/about-icon/android-logo.png " alt=" " class="img-responsive ">
                            </div>
                            <div class="services-about-title ">
                                <h6>Mobile Development</h6>
                            </div>
                        </a>
                    </span>
                </button>
            </div>
            <div class="col-lg-3 col-md-6 col-12 b mb-5 wow fadeIn pb-4" data-wow-delay=".25s ">
                <button class="item md-mb50 btn-6 wow fadeInUp " data-wow-delay=".3s ">
                    <span>
                        <a class="img-link-text ">
                            <div class="img-about-services ">
                                <img src="../../../assets/about-icon/ui-ux.png " alt=" " class="img-responsive ">
                            </div>
                            <div class="services-about-title ">
                                <h6>UI / UX Designing</h6>
                            </div>
                        </a>
                    </span>
                </button>
            </div>
            <div class="col-lg-3 col-md-6 col-12 b mb-5 wow fadeIn pb-4" data-wow-delay=".25s ">
                <button class="item md-mb50 btn-6 wow fadeInUp " data-wow-delay=".3s ">
                    <span>
                        <a class="img-link-text ">
                            <div class="img-about-services ">
                                <img src="../../../assets/about-icon/test.png " alt=" " class="img-responsive ">
                            </div>
                            <div class="services-about-title ">
                                <h6>Testing & Q/A</h6>
                            </div>
                        </a>
                    </span>
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 wow fadeInUp" data-wow-delay=".25s ">
                <div class="services-about-btn text-center pb-4 pt-5">
                    <button type=" submit " class="btn-curve btn-color " [routerLink]="['/pages/services']"><span>View
                            More</span></button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End Services ==================== -->

<!-- ==================== Start Minimal-Area ==================== -->

<section class="min-area sub-bg ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-6 wow fadeInRight" data-wow-delay=".25s ">
                <div class="img wow fadeInRight" data-wow-delay=".25s ">
                    <img class="thumparallax-down " src="assets/img/min-area.jpg " alt=" ">
                </div>
            </div>
            <div class="col-lg-6 valign wow fadeInLeft" data-wow-delay=".25s ">
                <div class="content ">
                    <h4 class="wow custom-font " data-splitting>Our Values</h4>

                    <ul class="feat ">
                        <li class="wow fadeInUp " data-wow-delay=".2s ">
                            <h6><span>1</span> Transparency</h6>
                            <p>We pride ourselves on providing complete into successes and sometimes failures, of our
                                business as we scale and grow. It is an integrl part of our culture as we collabrate and
                                work towards a common goal across functions.</p>
                        </li>
                        <li class="wow fadeInUp " data-wow-delay=".4s ">
                            <h6><span>2</span>Excellence</h6>
                            <p>We go above and beyond to exceed exceptions. Excellence is not only a value, it is a
                                discipline and a means for making the world a better place.</p>
                        </li>
                        <li class="wow fadeInUp " data-wow-delay=".6s ">
                            <h6><span>3</span> Flexibility </h6>
                            <p>We empower our employees in a work environment that is conductive to creating the optimal
                                work life balance.</p>
                        </li>

                        <li class="wow fadeInUp " data-wow-delay=".6s ">
                            <h6><span>4</span> Collaborate </h6>
                            <p>Togather we are stroger. We deliver more success through goals and mutual support. we
                                believe in the power of working together. We leverage diverse talents, prespectives and
                                resources that challange and push us forward as we
                                work togather on similar goals.</p>
                        </li>
                        <li class="wow fadeInUp " data-wow-delay=".6s ">
                            <h6><span>5</span> Service </h6>
                            <p>We do whatever it takes to delight our partners. We support and share responsibility with
                                the members of our team.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End Minimal-Area ==================== -->
<div class="map wow fadeInUp" data-wow-delay=".25s ">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.1345388658488!2d72.76401256424738!3d21.147043489107144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0527879958e57%3A0x79be4eb327b92649!2sSNS%20Arista!5e0!3m2!1sen!2sin!4v1608555219387!5m2!1sen!2sin"
        width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>