<div id="preloaderse">
    <p class="lo-txt">Everything You Can Imagine Is Real.</p>
</div>
<div>

    <!-- ==================== Start Slider ==================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <header class="pages-header bg-img valign parallaxie services-bg" data-overlay-dark="6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cont text-center">
                        <h1>Services</h1>
                        <div class="path">
                            <a routerLink="home">Home</a><span>/</span><a class="active">Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ==================== End Slider ==================== -->
    <section class="services-portfolio section-padding pb-70 sub-bg">
        <div class="container">
            <!-- gallery -->
            <div class="services-gallery full-width pt-4">
                <!-- gallery item -->
                <div class="service-main">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 items pb-5" *ngFor="let service of serviceList" data-aos="zoom-in" data-aos-duration="2000">
                            <div class="item-img wow fadeInUp" data-wow-delay=".4s">
                                <a>
                                    <div class="img" data-tooltip-tit="Work image" data-tooltip-sub="Branding">
                                        <img src={{service.ServiceLogo}} alt="image">
                                    </div>
                                </a>
                            </div>
                            <div class="cont">
                                <h6>{{service.ServiceName}}</h6>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-6 ser-main">

                            <div class="services-header">
                                <div class="ser-hed">
                                    <h1>Web Development</h1>
                                </div>

                                <div class="ser-des">
                                    <p>iDesire Galaxy deals primarily with mobile SIM recharge and utilities. The main feature of this website is the online portability offer. After understanding and analyzing the client requirements, our team effectively
                                        designed and developed the website by adding features like online order tracking that made it engaging and intuitive. We accomplished in making it an online marketplace that provided customers with new and varied
                                        mobile-related services.</p>
                                </div>

                                <div class="ser-foo">
                                    <h1>Our Experties</h1>
                                    
                                    <div class="img-ex-inline">
                                        <img src="../../../assets/course/react.png" alt="">
                                    </div>
                                    <div class="img-ex-inline">
                                        <img src="../../../assets/course/AngularJs.png" alt="">
                                    </div>
                                    <div class="img-ex-inline">
                                        <img src="../../../assets/course/html5.png" alt="">
                                    </div>
                                    <div class="img-ex-inline">
                                        <img src="../../../assets/course/css3.png" alt="">
                                    </div>
                                    <div class="img-ex-inline">
                                        <img src="../../../assets/course/java.png" alt="">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="services-header">
                                
                                <img src="../../../assets/test/gloryserviceicons_web.svg" alt="">
                            </div>
                        </div> -->
                    </div>
                </div>

                <!-- <div class="service-main">
                    <div class="row">
                    

                        <div class="col-lg-6 col-md-6">
                            <div class="services-header">
                                
                                <img src="../../../assets/test/gloryserviceicons_web.svg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 ser-main">

                            <div class="services-header">
                                <div class="ser-hed">
                                    <h1>Web Development</h1>
                                </div>

                                <div class="ser-des">
                                    <p>iDesire Galaxy deals primarily with mobile SIM recharge and utilities. The main feature of this website is the online portability offer. After understanding and analyzing the client requirements, our team effectively
                                        designed and developed the website by adding features like online order tracking that made it engaging and intuitive. We accomplished in making it an online marketplace that provided customers with new and varied
                                        mobile-related services.</p>
                                </div>

                                <div class="ser-foo">
                                    <h1>Our Experties</h1>
                                   
                                    <div class="img-ex-inline">
                                        <img src="../../../assets/course/react.png" alt="">
                                    </div>
                                    <div class="img-ex-inline">
                                        <img src="../../../assets/course/AngularJs.png" alt="">
                                    </div>
                                    <div class="img-ex-inline">
                                        <img src="../../../assets/course/html5.png" alt="">
                                    </div>
                                    <div class="img-ex-inline">
                                        <img src="../../../assets/course/css3.png" alt="">
                                    </div>
                                    <div class="img-ex-inline">
                                        <img src="../../../assets/course/java.png" alt="">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</div>


<ng-template #content let-c="close" let-d="dismiss" centered>
    <div class="modal-main-im">
        <div class="modal-header remove-border">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

            <div class="popup-main">
                <div class="row">
                    <div class="col-md-6">
                        <div class="popup-img">
                            <img src="../../../assets/whatsapp/popup.png" alt="">
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="popup-cont">
                            <div class="form-head text-center">
                                <h1>Request a Callback</h1>
                            </div>
                            <form id="popupcontact" class="contact-popup">
                                <div class="form-group">
                                    <input type="text" class="form-control style-inp" name="name" id="name" placeholder="Your name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control style-inp" name="email" id="email" placeholder="Your email address">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control style-inp" name="number" id="number" placeholder="Your number">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-curve btn-color btn-home-servcies btn-popup"><span>Send Request</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</ng-template>