<div id="preloaderhm">
    <p class="lo-txt">Be Genuine. Be Remarkable. Be Worth</p>
</div>
<div class="bg-normal-layout">
    <!-- ==================== Start Slider ==================== -->
    <header class="slider-bus position-re valign">
        <div class=" ontop">
            <ngb-carousel data-interval="false" [interval]="2000">
                <ng-template ngbSlide>
                    <div data-overlay-dark="6">
                        <img src="../../../assets/img/slid/1.jpg">
                        <div class="carousel-caption">
                            <h1>
                                <div class="thin">We Don't Deliver Product</div>
                                We Deliver an Experiance
                            </h1>
                            <p>If you need to redesign your new project, new visual strategy, ux structure or you do
                                have some cool ideas for collaboration.</p>
                            <a class="btn-curve btn-color btn-radius mt-30" routerLink="/portfolio">
                                <span>Discover Work</span>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div data-overlay-dark="6">
                        <img src="../../../assets/img/slid/freelancer.jpg">
                        <div class="carousel-caption">
                            <h1>
                                <div class="thin">Building Brand is</div>
                                Our Business
                            </h1>
                            <p>If you need to redesign your new project, new visual strategy, ux structure or you do
                                have some cool ideas for collaboration.</p>
                            <a class="btn-curve btn-color btn-radius mt-30" routerLink="/portfolio">
                                <span>Discover Work</span>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="bg-img" data-overlay-dark="6">
                        <img src="../../../assets/img/slid/1.jpg">
                        <div class="carousel-caption">
                            <h1>
                                <div class="thin">We Develop</div>
                                You Grow
                            </h1>
                            <p>If you need to redesign your new project, new visual strategy, ux structure or you do
                                have some cool ideas for collaboration.</p>
                            <a class="btn-curve btn-color btn-radius mt-30" routerLink="/portfolio">
                                <span>Discover Work</span>
                            </a>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </header>
    <!-- ==================== End Slider ==================== -->
    <div class="main-content">
        <!-- ==================== Start about ==================== -->
        <div class="about section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow fadeInLeft" data-wow-delay=".25s">
                        <div class="img-mons">
                            <div class="row">
                                <div class="col-md-5 cmd-padding valign">
                                    <div class="img1 wow" data-wow-delay=".5s">
                                        <img src="../../../assets/intro/1.jpg" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-7 cmd-padding">
                                    <div class="img2 wow" data-wow-delay=".3s">
                                        <img src="../../../assets/intro/3.jpg" alt="">
                                    </div>
                                    <div class="img3 wow" data-wow-delay=".8s">
                                        <img src="../../../assets/intro/2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 valign wow fadeInRight" data-wow-delay=".25s">
                        <div class="about-home-text">
                            <div class="intro md-mb30">
                                <div class="sub-title">
                                    <h6>Know Us Better</h6>
                                </div>
                                <h2 class="extra-title wow" data-splitting>We help to create strategies, design &
                                    development.
                                </h2>
                                <p class="wow txt about-text">We build professional websites that convert visitor into
                                    customers and help your Business grow. We feel very Strong about our skills when it
                                    comes to planning, designing and coding applications.</p>
                            </div>
                            <div class="ftbox mt-30">
                                <ul>
                                    <li class="wow fadeIn" data-wow-delay=".3s">
                                        <span class="icon pe-7s-gleam"></span>
                                        <h6 class="custom-font">Pixel <br> Perfect</h6>
                                        <div class="dots">
                                        </div>
                                    </li>
                                    <li class="space wow fadeIn" data-wow-delay=".5s">
                                        <span class="icon pe-7s-paint-bucket"></span>
                                        <h6 class="custom-font">Creative <br> Design</h6>
                                        <div class="dots">
                                        </div>
                                    </li>
                                    <li class="wow fadeIn" data-wow-delay=".8s">
                                        <span class="icon pe-7s-medal"></span>
                                        <h6 class="custom-font">Heigh <br> Perfomance</h6>
                                        <div class="dots">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==================== End about ==================== -->

        <!-- ==================== Start blc-sec ==================== -->
        <section class="blc-sec section-padding pb-0 sub-bg pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 wow fadeInLeft" data-wow-delay=".25s">
                        <div class="intro md-mb30">
                            <div class="sub-title">
                                <h6>Know Us Better</h6>
                            </div>
                            <h2 class="extra-title wow" data-splitting>We Believe In The Inherent Dignity Of All People.
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-5 valign wow fadeInRight" data-wow-delay=".25s">
                        <div class="full-width">
                            <p class="wow txt about-text">We never underestimate any parts of each project as they're
                                all essential to meeting the ultimate goal. you'll be engaged in with our positive and
                                enthusiastic attitude.
                            </p>
                            <a routerLink="about" class="simple-btn custom-font mt-20 wow btn-new-design" data-splitting
                                routerLink="/about"><span>Know
                                    More</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End blc-sec ==================== -->


        <!-- ==================== Start Services ==================== -->
        <section class="services section-padding sub-bg pt-5  pb-5">
            <div class="container">
                <div class="main-home-card">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12 pb-4 wow fadeIn" data-wow-delay=".5s"
                            *ngFor="let data of serviceData">
                            <div class="home-card-animation">
                                <div class="services-home-main">
                                    <div class="child-services-home">
                                        <div class="main-img-home-child">
                                            <img src={{data.ServiceImage}} class="img-responsive" alt="">
                                        </div>
                                        <div class="detail-home-desc">
                                            <h2>{{data.ServiceName}}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="width-100">
                                    <button type="submit" class="btn-curve btn-color btn-home-servcies"
                                        [routerLink]="['/services']"><span>View
                                            More</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End Services ==================== -->

        <!-- ==================== Start block-sec ==================== -->
        <!-- <section class="block-sec ">
            <div class="background bg-img section-padding pb-0 " data-background="img/slid/1.jpg "
                data-overlay-dark="8 ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-lg-6 ">
                            <div class="vid-area ">
                                <div class="vid-icon ">
                                    <a class="vid " href="https://vimeo.com/127203262 ">
                                        <div class="vid-butn ">
                                            <span class="icon ">
                                                <i class="fas fa-play "></i>
                                            </span>
                                        </div>
                                    </a>
                                </div>

                                <div class="cont ">
                                    <h3 class="wow " data-splitting>So that's us. There's no other way to put it.</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 offset-lg-1 ">
                            <div class="testim-box ">
                                <div class="head-box wow fadeIn" data-wow-delay=".25s">
                                    <h6 class="wow fadeIn " data-wow-delay=".5s ">Our Happy Clients</h6>
                                    <h4 class="wow fadeIn " data-wow-delay=".5s ">What Client's Say?</h4>
                                </div>

                                <div class="slic-item wow fadeIn" data-wow-delay=".25s">
                                    <div *ngFor="let client of clientData">
                                        <div class="item">
                                            <p>{{client.ClientMessage}}</p>
                                            <div class="info">
                                                <div class="img">
                                                    <div class="img-box">
                                                        <img src="{{'data:image/jpg;base64,' + client.ClientLogo}}"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="cont">
                                                    <div class="author">
                                                        <h6 class="author-name custom-font">{{client.ClientName}}</h6>
                                                        <span class="author-details">Co-founder, Colabrio</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- ==================== End block-sec ==================== -->

        <!--Start Client Saying Custom Made Working-->

        <!-- <section class="block-sec">
            <div class="background bg-img section-padding pb-0 slide-1" data-overlay-dark="8">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="vid-area ">
                                <div class="vid-icon ">
                                    <a class="vid ">
                                        <div class="vid-butn ">
                                            <span class="icon ">
                                                <i class="fas fa-play "></i>
                                            </span>
                                        </div>
                                    </a>
                                </div>

                                <div class="cont ">
                                    <h3 class="wow " data-splitting>So that's us. There's no other way to put it.</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-1 col-md-5 col-12">
                            <div class="testim-box">
                                <div class="head-box wow fadeIn" data-wow-delay=".25s">
                                    <h6 class="wow fadeIn " data-wow-delay=".5s ">Our Happy Clients</h6>
                                    <h4 class="wow fadeIn " data-wow-delay=".5s ">What Client's Say?</h4>
                                </div>
                                <div>
                                    <ngb-carousel data-interval="false">
                                        <ng-template ngbSlide *ngFor="let client of clientData">
                                            <div class="item">
                                                <p>{{client.ClientMessage}}</p>
                                                <div class="info">
                                                    <div class="img">
                                                        <div class="img-box">
                                                            <img src="{{'data:image/jpg;base64,' + client.ClientLogo}}"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                    <div class="cont">
                                                        <div class="author">
                                                            <h6 class="author-name custom-font">{{client.ClientName}}
                                                            </h6>
                                                            <span class="author-details">Co-founder, Colabrio</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--End Client saying Custom Made-->
        <!-- ==================== Start Skills Circle ==================== -->
        <!-- 
        <section class="skills-circle sub-bg pt-50 pb-50 ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-7 ">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="item wow fadeInLeft " data-wow-delay=".6">
                                        <div class="skill " data-value="0.9 ">
                                            <span class="custom-font ">90%</span>
                                        </div>
                                        <div class="cont ">
                                            <span>Project</span>
                                            <h6>Consulting</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="item wow fadeInLeft " data-wow-delay=".3 ">
                                        <div class="skill " data-value="0.75 ">
                                            <span class="custom-font ">75%</span>
                                        </div>
                                        <div class="cont ">
                                            <span>App</span>
                                            <h6>Development</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- ==================== End Skills Circle ==================== -->

        <!-- ==================== Start clients Brands ==================== -->
        <!-- <div class="sec-head custom-font sub-title mb-0 ">
                            <h6>Clients</h6>
                            <h3>Our <br> Clients.</h3>
                        </div> -->
        <!-- <section class="clients section-padding space-padding pt-6 pb-5">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-4 valign wow fadeInLeft" data-wow-delay=".25s">
                        
                        <div class="intro md-mb30">
                            <div class="sub-title">
                                <h6>Our Happy Clients</h6>
                            </div>
                            <h2 class="extra-title wow" data-splitting>What Client's Say?
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-8 wow fadeInRight" data-wow-delay=".25s">
                        <div>
                            <div class="row bord">
                                <div class="col-md-3 col-6 brands" *ngFor="let client of clientData">
                                    <div class="item wow fadeIn" data-aos="fadeIn" data-wow-delay=".3s">
                                        <div class="img">
                                            <img src="{{'data:image/jpg;base64,' + client.ClientLogo}}" alt="">
                                            <a class="link clientName" data-splitting>{{client.ClientName}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- ==================== End clients Brands ==================== -->


        <!-- ==================== Start call-to-action ==================== -->
        <section class="call-action section-padding bg-img pt-5 pb-5" data-background="img/pattern.png ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-8 col-lg-9 wow fadeInLeft" data-wow-delay=".25s">
                        <div class="content sm-mb30 ">
                            <h6 class="wow " data-splitting>Let’s Talk</h6>
                            <h2 class="wow custom-font text-bold" data-splitting>about your <b class="text-bold">next
                                    project</b>.</h2>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 valign wow fadeInRight" data-wow-delay=".25s">
                        <a [routerLink]="['/contact']" class="btn-curve btn-blc wow fadeInUp "
                            data-wow-delay=".5s "><span>Get
                                In
                                Touch</span></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End call-to-action ==================== -->

        <!-- ==================== Start Map ==================== -->
        <div class="map wow fadeInUp" data-wow-delay=".25s ">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.1345388658488!2d72.76401256424738!3d21.147043489107144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0527879958e57%3A0x79be4eb327b92649!2sSNS%20Arista!5e0!3m2!1sen!2sin!4v1608555219387!5m2!1sen!2sin"
                width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <!-- ==================== End Map ==================== -->
    </div>
</div>