<nav class="navbar change navbar-expand-lg desktop-border">
    <div class="container">

        <!-- Logo -->
        <a class="logo" href="index.html">
            <img src="../../../assets/img/2LOGO.png" alt="logo" class="logo-img-width">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar color-black-nav"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item change-career-nav-color">
                    <a class="nav-link change-career-nav-color" [routerLink]="['/pages/home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link change-career-nav-color" [routerLink]="['/pages/about']">About</a>
                </li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/pages/services']">Web Design</a>
                        <a class="dropdown-item" [routerLink]="['/pages/services']">Web Development</a>
                        <a class="dropdown-item" [routerLink]="['/pages/services']">Ecommerce</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link change-career-nav-color" [routerLink]="['/pages/services']">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link change-career-nav-color" [routerLink]="['/pages/portfolio']">Portfolio</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link change-career-nav-color" [routerLink]="['/pages/career']">Join Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link change-career-nav-color" [routerLink]="['/pages/contact']">Connect</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link need-Team-highlight change-career-nav-color" [routerLink]="['/pages/needTeam']">Need A
                        Team?</a>
                </li>
            </ul>
            <!--<div class="search">
                <span class="icon pe-7s-search cursor-pointer"></span>
                <div class="search-form text-center custom-font">
                    <form>
                        <input type="text" name="search" placeholder="Search">
                    </form>
                    <span class="close pe-7s-close cursor-pointer"></span>
                </div>
            </div>-->
        </div>
    </div>
</nav>



<div class="progress-wrap cursor-pointer">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<!-- ==================== End Navbar ==================== -->


<div class="career-main-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="main-container career-info-container text-center pt-5">
                    <div *ngFor="let info of vacancyInfo">
                        <div class="career-title pb-4 wow fadeIn" data-wow-delay=".25s">
                            <h2>{{info.VacancyName}}</h2>
                        </div>
                        <div class="detail-career text-left">
                            <div class=" career-main-detail dis-flex-space pb-3">
                                <div class="career-info-detail-title main-name-company-info wow fadeIn" data-wow-delay=".25s">
                                    <!-- <div class="row">
                                        <div class="col-md-4 col-lg-4"> -->
                                    <h4>
                                        <ng-select name="vname" class="ng-width" id="vnameid" [(ngModel)]='selectedVaccancyName' (clear)="setDefaultValu()" (change)="showSelectedData($event)">
                                            <ng-option *ngFor="let data of vacancyTitle" [value]="data.Vacancyid">
                                                {{data.VacancyName}}
                                            </ng-option>
                                        </ng-select>
                                    </h4>
                                    <!-- </div>
                                    </div> -->
                                    <h5>Glory Autotech</h5>
                                </div>
                                <div class="glory-logo wow fadeIn" data-wow-delay=".25s">
                                    <img src="../../../../assets/img/icon-career.png" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class=" career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>About Glory Autotech</h4>
                                </div>
                                <div>
                                    <p>When business, people and technology collide true innovation happen. We help you build a team that can deliver your business needs. We don’t just complete task but care about the end result and the future of our client’s
                                        project. We integrate continuous skill development into our workflow to stay up on the latest technology, industry trends.We will help you to build right product for your business and startUps with agile methodology.We
                                        create custom software to help businesses thrive in the digital age. We will lead your business from good to great.</p>
                                </div>
                            </div>
                            <div class="career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>Who can Apply</h4>
                                </div>
                                <div>
                                    <ul class="ul-main-ui">
                                        <li *ngFor="let datainfo of info.WhoCanApply">
                                            <p> {{datainfo}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>Skills required</h4>
                                </div>
                                <div *ngFor="let datainfo of info.Skill" class="badge-career-info">
                                    <span> {{datainfo}}</span>
                                </div>
                            </div>
                            <div class="career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>Job Responsibility</h4>
                                </div>
                                <div>
                                    <ul class="ul-main-ui">
                                        <li *ngFor="let datainfo of info.JobResponsibility">
                                            <p> {{datainfo}}</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>Experience</h4>
                                </div>
                                <div>
                                    <p> {{info.Experience}}</p>
                                </div>
                            </div>
                            <div class="career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>No of opening.</h4>
                                </div>
                                <div>
                                    <p> {{info.NoOfOpening}}</p>
                                </div>
                            </div>
                            <div class="career-main-detail pt-3 pb-5 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>Perks</h4>
                                </div>
                                <div class="badge-career-info" *ngFor="let datainfo of info.Pearks">

                                    <span> {{datainfo}}</span>

                                </div>
                            </div>
                            <div class="text-center pb-5 wow fadeIn" data-wow-delay=".25s" id="applicationId">
                                <button type=" submit " (click)="chekApplyNow()" class="btn-curve btn-color btn-apply"><span>Apply
                                        Now</span></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- ==================== Start main-content ==================== -->
    <div *ngIf="applyNowFlag" class=" career-info-container">
        <div class="main-content">
            <ngx-loading [show]="loading"></ngx-loading>
            <!-- ==================== Start Contact ==================== -->

            <section class="contact section-padding detail-career">
                <div class="container">
                    <div class="row">


                        <div class="col-lg-12 col-12 wow fadeIn" data-wow-delay=".25s">

                            <div class="form md-mb50">
                                <form [formGroup]="careerForm">

                                    <div class="form-messages text-center mb-4 pb-3">Application</div>

                                    <div class="controls career-form-group career-second-form">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label><b>First Name:</b></label>
                                                    <input class="sizeUp" id="fname" type="text" name="name" placeholder="First Name" formControlName="FirstName" required="required">
                                                </div>
                                                <div class="text-danger" *ngIf="careerForm.get('FirstName').invalid&&(formSubmitted||careerForm.get('FirstName').touched)">
                                                    Firstname is Require.
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label><b>Last Name:</b></label>
                                                    <input class="sizeUp" type="text" name="name" placeholder="Last Name" formControlName="LastName" required="required">
                                                </div>
                                                <div class="text-danger" *ngIf="careerForm.get('LastName').invalid&&(formSubmitted||careerForm.get('LastName').touched)">
                                                    Lastname is Require.
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label><b>Email:</b></label>
                                                    <input class="sizeUp" type="email" name="email" placeholder="Email" formControlName="Email" required="required">
                                                </div>
                                                <div class="text-danger" *ngIf="careerForm.get('Email').invalid&&(formSubmitted||careerForm.get('Email').touched)">
                                                    Valid Email is Require.
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label><b>Contact No:</b></label>
                                                    <input class="sizeUp" type="tel" name="number" placeholder="Phone Number" formControlName="ContactNo" required="required">
                                                </div>
                                                <div class="text-danger" *ngIf="careerForm.get('ContactNo').invalid&&(formSubmitted||careerForm.get('ContactNo').touched)">
                                                    Valid 10 digit Contact No is Require.
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label><b>Experience:</b></label>
                                                    <!-- <input type="number" name="experience" placeholder="Experience"
                                                        formControlName="Experience"> -->
                                                    <select class="sizeUp" name="cars" id="cars" name="experience" placeholder="Experience" formControlName="Experience">
                                                        <option value="&lt; 1 Month"> &lt; 1 Month</option>
                                                        <option value="1 to 3 Month">1 to 3 Month</option>
                                                        <option value="3 &#62; Month">3 &#62; Month</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group ">
                                                    <label><b>Attachment:</b></label>
                                                    <input class="file-name-formatting" type="file" name="uploadresume" class="up-res" placeholder="Upload Resume" (change)="handleFileInput($event)">
                                                </div>
                                                <div class="text-danger" *ngIf="fileSize">
                                                    File should be less than 50MB
                                                </div>
                                            </div>
                                            <!-- <div class="col-sm-4">
                                                <div class="form-group">
                                                    <select name="cars" id="cars" formControlName="Gender">
                                                        <option value="option">Select an option</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                </div>
                                            </div> -->
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <textarea name="message" placeholder="Remark" rows="4" formControlName="Message"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="text-center btn-mobile pb-5 pt-4">
                                                    <button type="button" (click)="addCareerApplication()" class="btn-curve btn-color"><span>Submit</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <!-- ==================== End Contact ==================== -->

        </div>
    </div>
</div>