

<div class="career-main-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="main-container career-info-container text-center pt-2">
                    <div *ngFor="let info of vacancyInfo">
                        <div class="career-title pb-4 wow fadeIn" data-wow-delay=".25s">
                            <h2>{{info.VacancyName}}</h2>
                        </div>
                        <div class="detail-career text-left">
                            <div class=" career-main-detail dis-flex-space pb-3">
                                <div class="career-info-detail-title main-name-company-info wow fadeIn"
                                    data-wow-delay=".25s">
                                    <!-- <div class="row">
                                        <div class="col-md-4 col-lg-4"> -->
                                    <h4>
                                        <ng-select name="vname" class="ng-width" id="vnameid"
                                            [(ngModel)]='selectedVaccancyName' (clear)="setDefaultValu()"
                                            (change)="showSelectedData($event)">
                                            <ng-option *ngFor="let data of vacancyTitle" [value]="data.Vacancyid">
                                                {{data.VacancyName}}
                                            </ng-option>
                                        </ng-select>
                                    </h4>
                                    <!-- </div>
                                    </div> -->
                                    <h5>Glory Autotech</h5>
                                </div>
                                <div class="glory-logo wow fadeIn" data-wow-delay=".25s">
                                    <img src="../../../../assets/img/icon-career.png" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class=" career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>About Glory Autotech</h4>
                                </div>
                                <div>
                                    <p>When business, people and technology collide true innovation happen. We help you
                                        build a team that can deliver your business needs. We don’t just complete task
                                        but care about the end result and the future of our client’s
                                        project. We integrate continuous skill development into our workflow to stay up
                                        on the latest technology, industry trends.We will help you to build right
                                        product for your business and startUps with agile methodology.We
                                        create custom software to help businesses thrive in the digital age. We will
                                        lead your business from good to great.</p>
                                </div>
                            </div>
                            <div class="career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>Who can Apply</h4>
                                </div>
                                <div>
                                    <p> {{info.WhoCanApply}}</p>
                                </div>
                            </div>
                            <div class="career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>Skills required</h4>
                                </div>
                                <div>
                                    <p> {{info.Skill}}</p>
                                </div>
                            </div>
                            <div class="career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>Job Responsibility</h4>
                                </div>
                                <div>
                                    <p> {{info.JobResponsibility}}</p>
                                </div>
                            </div>
                            <div class="career-main-detail pt-3 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>No of opening.</h4>
                                </div>
                                <div>
                                    <p> {{info.NoOfOpening}}</p>
                                </div>
                            </div>
                            <div class="career-main-detail pt-3 pb-5 wow fadeIn" data-wow-delay=".25s">
                                <div class="career-info-detail-title ">
                                    <h4>Perks</h4>
                                </div>
                                <div class="badge-career-info">
                                    <span> {{info.Pearks}}</span>

                                </div>
                            </div>
                            <div class="text-center pb-5 wow fadeIn" data-wow-delay=".25s">
                                <button type=" submit " (click)="chekApplyNow()"
                                    class="btn-curve btn-color btn-apply"><span>Apply
                                        Now</span></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- ==================== Start main-content ==================== -->
    <div *ngIf="applyNowFlag" class=" career-info-container">
        <div class="main-content">
            <ngx-loading [show]="loading"></ngx-loading>
            <!-- ==================== Start Contact ==================== -->

            <section class="contact section-padding detail-career">
                <div class="container">
                    <div class="row">


                        <div class="col-lg-12 col-12 wow fadeIn" data-wow-delay=".25s">

                            <div class="form md-mb50">
                                <form [formGroup]="careerForm">

                                    <div class="form-messages text-center mb-4 pb-3">Application</div>

                                    <div class="controls career-form-group career-second-form">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" name="name" placeholder="First Name"
                                                        formControlName="FirstName" required="required">
                                                </div>
                                                <div class="text-danger"
                                                    *ngIf="careerForm.get('FirstName').invalid&&(formSubmitted||careerForm.get('FirstName').touched)">
                                                    Firstname is Require.
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" name="name" placeholder="Last Name"
                                                        formControlName="LastName" required="required">
                                                </div>
                                                <div class="text-danger"
                                                    *ngIf="careerForm.get('LastName').invalid&&(formSubmitted||careerForm.get('LastName').touched)">
                                                    Lastname is Require.
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input type="email" name="email" placeholder="Email"
                                                        formControlName="Email" required="required">
                                                </div>
                                                <div class="text-danger"
                                                    *ngIf="careerForm.get('Email').invalid&&(formSubmitted||careerForm.get('Email').touched)">
                                                    Email is Require.
                                                </div>
                                                <div class="text-danger" *ngIf="careerForm.get('Email').error?.pattern">
                                                    Enter Valid Email.
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input type="tel" name="number" placeholder="Phone Number"
                                                        formControlName="ContactNo" required="required">
                                                </div>
                                                <div class="text-danger"
                                                    *ngIf="careerForm.get('ContactNo').invalid&&(formSubmitted||careerForm.get('ContactNo').touched)">
                                                    Contact No is Require.
                                                </div>
                                                <div class="text-danger"
                                                    *ngIf="careerForm.get('ContactNo').errors?.pattern">
                                                    <span>Please enter valid 10 digit contact</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input type="date" name="birthdate" placeholder="D.O.B"
                                                        formControlName="DOB">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <select name="cars" id="cars" formControlName="Gender">
                                                        <option value="option">Select an option</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="number" name="experience" placeholder="Experience"
                                                        formControlName="Experience">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group file-name-formatting">
                                                    <input type="file" name="uploadresume" class="up-res"
                                                        placeholder="Upload Resume" (change)="handleFileInput($event)">
                                                </div>
                                                <div class="text-danger" *ngIf="fileSize">
                                                    File should be less than 50MB
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <textarea name="message" placeholder="Message" rows="4"
                                                        formControlName="Message"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="text-center btn-mobile pb-5 pt-4">
                                                    <button type="button" (click)="addCareerApplication()"
                                                        class="btn-curve btn-color"><span>Submit</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <!-- ==================== End Contact ==================== -->

        </div>
    </div>
</div>