<div class="modal-header nb-header">
    <h4 class="modal-title nb-text" id="modal-basic-title">Add Developer</h4>
    <button type="button" class="close btn-foucs-none" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true" class="close-icon">&times;</span>
    </button>
</div>
<form #stepForm="ngForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Select Developer</label>
                    <!-- <input class="form-control input-group" type="text" name="stepName" [(ngModel)]="stepName"
                        #name1="ngModel" [ngClass]="{'is-invalid':(name1.invalid)&&(modalSubmitted || name1.touched)}"
                        required placeholder="Step Name"> -->
                    <select #name1="ngModel" class="form-control" name="Devid"
                        [ngClass]="{'is-invalid':(name1.invalid)&&(modalSubmitted || name1.touched)}"
                        [(ngModel)]="Devid" placeholder="Select Developer">
                        <option *ngFor="let d of developerList" [value]="d.Devid">
                            {{d.DevSkill}}</option>
                    </select>
                    <!-- <div class="invalid-feedback" style="color: red;"
                        *ngIf="(name1.invalid)&&(modalSubmitted || name1.touched)">
                        Step Name is required.
                    </div> -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Hr/Day</label>
                    <input class="form-control input-group" type="number" name="hrDay" [(ngModel)]="hrDay"
                        #name1="ngModel" [ngClass]="{'is-invalid':(name1.invalid)&&(modalSubmitted || name1.touched)}"
                        required placeholder="Hours/day">
                    <!-- <div class="invalid-feedback" *ngIf="(position1.invalid)&&(modalSubmitted || position1.touched)">
                        Step Position is required.
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Duration</label>
                    <input class="form-control input-group" type="number" name="duration" [(ngModel)]="duration"
                        #name1="ngModel" [ngClass]="{'is-invalid':(name1.invalid)&&(modalSubmitted || name1.touched)}"
                        required placeholder="Duration">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Experience</label>
                    <input class="form-control input-group" type="text" name="Experience" [(ngModel)]="experience"
                        #name1="ngModel" [ngClass]="{'is-invalid':(name1.invalid)&&(modalSubmitted || name1.touched)}"
                        required placeholder="Experience">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>No of Developer</label>
                    <input class="form-control input-group" type="number" name="noOfDeveloper"
                        [(ngModel)]="noOfDeveloper" #name1="ngModel"
                        [ngClass]="{'is-invalid':(name1.invalid)&&(modalSubmitted || name1.touched)}" required
                        placeholder="No of Developer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm btn-design" style="margin-right:20px"
            (click)="onCreate(stepForm)">{{submitButton}}</button>
        <button type="button" class="btn btn-primary btn-sm btn-design" style="margin-right:20px"
            (click)="activeModal.close(false)">Cancel</button>
    </div>
</form>